body {
    background-color: #e8ebf7;
    font-family: 'Concert One', cursive;
}
h1 {
    display: flex;
    justify-content: center;
    color: #2e5266; 
}
div {
    display: flex;
    justify-content: space-around;
}
#prompt {
    font-size: 1em;
}
#buttonContainer {
    display: flex;
    justify-content: space-around;
}
.move {
    max-width: 10em;
    max-height: 10em;
    background-color: transparent;
    border: none;
    background-size: cover;
    padding-top: 3em;
}
img {
    max-height: 7em;
}
#winOrLose {
    padding: 2em 1em 2em 1em;
    text-align: center;
}
#results {
    font-size: 1.2em;
}
#restart {
    margin-top: 1.5em; 
    border-radius: 70%;
    padding: .75em .5em .75em .5em;
    background-color: #f25f5c;
    border: none;
    font-size: 1.25em;
    font-family: 'Concert One', cursive;
}

/*UNUSED color from palette: #e2c044*/